.image-icon {
    width: 20px;
    height: 20px;
}
.logo {
    font-weight: bold;
    margin-right: 20px;
}
.nav-link {
    text-decoration: none;
}
.banner, .article {
    background-color: #7FFFD4;
    height: 10em;
    margin-bottom: 1em;
    border-radius: 10px;
    padding-bottom: 100px;
  }
  .banner1 {
    background-color: #7FFFD4;
    height: 10em;
    margin-bottom: 1em;
    border-radius: 10px;
    padding-bottom: 100px;
    height: 800px;
  }
  .banner2 {
    background-color: #7FFFD4;
    height: 10em;
    margin-bottom: 1em;
    border-radius: 10px;
    padding-bottom: 100px;
    height: 250px;
  }  
.banner-left {
    float: left;
    width: 50%;
}
.banner-right {
    float: left;
    width: 50%;
    position: relative;
}
.b-l-text1 {
    margin-top: 20px;
    margin-left: 5%;
    font-size: 40px;
    font-weight: bold;
}
.b-l-text2 {
    margin-left: 5%;
}
.b-l-text2-char {
    font-size: 20px;
    font-weight: bold;
}
.b-l-text2-left {
    display: inline-block;
    padding-right: 5%;
    border-right-style:solid ;
}
.b-l-text2-right {
    display: inline-block;
    padding-left: 5%;
}
.search-bar {
    margin-left: 5%;
    margin-top: 20px;
    position: relative;
}
input[type=text] {
    width: 50%;
    padding: 20px 15px;
}
.search-icon {
    position: absolute;
    right: 50%;
    bottom: 19px;
}
.b-r-image1 {
    position: relative;
}
.b-r-image2 {
    position: absolute;
    bottom: 0;
    left: 50px;
}
.b-r-image {
    position: absolute;
    top: 70px;
}
.best-sell-left {
    float: left;
    width: 25%;
    
}
.best-sell-right {
    float: left;
    width: 75%;
    
}
.b-s-r-1  {
    float: left;
    width: 33%;
}
.b-s-r-2  {
    float: left;
    width: 34%;
}
.About-us-1 {
    float: left;
    width: 33%;
    
}
.About-us-2 {
    float: left;
    width: 34%;
}
.a-u-image-1 {
    position: relative;
    margin-left: 25% ;
}
.a-u-image-2 {
    position: absolute;
    bottom: 30px;
    left: 30px;
}
.a-u-text-1 {
    font-weight: bold;
}
.a-u-text-2 {
    font-weight: bold;
    width: 50%;
    text-align: center;
    color: gray;
}
.category-text-1 {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}
.category-text-2 {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: gray;
}
.category-1 {
    float: left;
    width: 33%;
    
}
.category-2 {
    float: left;
    width: 34%;
    
}
.category-image-1 {
    width: 25%;
    height: 50%;
    margin-left: 20%;
    
}
.category-image-2 {
    width: 25%;
    height: 50%;
    margin-left: 20%;
}
.category-text-image {
    margin-left: 25%;
    font-weight: bold;
}
.card {
    float: left;
    width: 50%;
    
}
.card-info {
    background-color: aquamarine;
    margin-left: 5%;
    margin-right: 2%;
    height: 200px;
    
}
.card-info-2 {
    background-color: aquamarine;
    margin-left: 2%;
    margin-right: 5%;
    height: 200px;
}
.footer1 {
    float: left;
    width: 50%;
}
.footer1-text {
    margin-left: 0%;
    height: 160px;
    background-color: aquamarine;
}
.media {
    margin-right: 20px;
    
}
th {
    padding: 10px;
}
td {
    padding: 10px;
}
@media only screen and (max-width:768px) {
    .banner-left {
        float: left;
        width: 100%;
    }
    .banner-left::after {
        content: "";
        clear: both;
    }
    .banner-right {
        display: none;
    }
    .best-sell-left {
        float: left;
        width: 34%;
    }
    .best-sell-right {
        float: left;
        width: 66%;
    }
    .b-s-r-1 {
        float: left;
        width: 50%;
    }
    .b-s-r-2 {
        display: none;
    }
    .b-s-r-i {
        width: 100px;
        height: 100px;
    }
    .banner1 {
        background-color: #7FFFD4;
        height: 10em;
        margin-bottom: 1em;
        border-radius: 10px;
        padding-bottom: 100px;
        height: 200px;
      }
      .banner2 {
        background-color: #7FFFD4;
        height: 10em;
        margin-bottom: 1em;
        border-radius: 10px;
        padding-bottom: 100px;
        height: 300px;
      }  
      .category-text-1 {
        
        font-weight: bold;
        font-size: 20px;
    }
    .category-text-2 {
        
        font-weight: bold;
        font-size: 20px;
        color: gray;
    }
}