.image-icon {
    width: 20px;
    height: 20px;
}
.logo {
    font-weight: bold;
    margin-right: 20px;
}
.nav-link {
    text-decoration: none;
}
.banner-left {
    float: left;
    width: 50%;
}
.banner-right {
    float: left;
    width: 50%;
    position: relative;
}
.b-l-text1 {
    margin-top: 20px;
    margin-left: 5%;
    font-size: 40px;
    font-weight: bold;
}
.b-l-text2 {
    margin-left: 5%;
}
.b-l-text2-char {
    font-size: 20px;
    font-weight: bold;
}
.b-l-text2-left {
    display: inline-block;
    padding-right: 5%;
    border-right-style:solid ;
}
.b-l-text2-right {
    display: inline-block;
    padding-left: 5%;
}
.search-bar {
    margin-left: 5%;
    margin-top: 20px;
    position: relative;
}
input[type=text] {
    width: 50%;
    padding: 20px 15px;
}
.search-icon {
    position: absolute;
    right: 50%;
    bottom: 19px;
}
.b-r-image1 {
    position: relative;
}
.b-r-image2 {
    position: absolute;
    bottom: 0;
    left: 50px;
}
.b-r-image {
    position: absolute;
    top: 70px;
}
.best-sell-left {
    float: left;
    width: 25%;
}
.best-sell-right {
    float: left;
    width: 75%;
    
}
.b-s-r-1  {
    float: left;
    width: 33%;
}
.b-s-r-2  {
    float: left;
    width: 34%;
}
.About-us-1 {
    float: left;
    width: 33%;
}
.About-us-2 {
    float: left;
    width: 34%;
}